<div class='page-container'>
  <%= form_tag '/links' do %>
    <h4>Submit a New Link</h4>
    Title: <%= text_field_tag :title %>
    Url: <%= text_field_tag :url %>
    <%= submit_tag 'Submit' %>
  <% end %>
  <br>
  <h4>My Links</h4>
  <table id='links-table'>
    <th class='title'>Title</th><th class='url'>Url</th>
    <% @current_user.links.each do |link| %>
      <tr>
        <td class='title'><%= link.title %></td>
        <td class='url'><a href=<%= link.url %>><%= link.url %></a></td>
        <td class='mark-read'>mark read</td>
      </tr>
    <% end %>
  </table>
</div>
