<div class='page-container'>
  <%= form_tag '/links' do %>
    <h4>Submit a New Link</h4>
    Title: <%= text_field_tag :title %>
    Url: <%= text_field_tag :url %>
    <%= submit_tag 'Submit' %>
  <% end %>
  <br>
  <h4>My Links</h4>
  <table id='links-table'>
    <th class='title'>Title</th><th class='url'>Url</th>
    <% @current_user.links.each do |link| %>
      <tr data-link-id=<%= link.id %>>
        <td class='title'><%= link.title %></td>
        <td class='url'><a href=<%= link.url %>><%= link.url %></a></td>
        <% unless link.read %>
          <td class='mark-read'><button class='read'>mark read</button></td>
        <% else %>
          <td class='mark-read'>finished</td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
