<!DOCTYPE html>
<html>
<head>
  <title>URLockBox</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='nav'>
    <h3 id='header'>Url Lockbox</h3>
    <% if @current_user %>
      <h4 id='user-id'>Logged in as <%= @current_user.email %></h4>
    <% end %>
  </div>
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
